@using ScoreService.ViewModel
@model DataLoadFileModel
@{
    ViewBag.Title = "Upload";
    Layout = "_Layout";
}

<form method="post" enctype="multipart/form-data" asp-controller="Import" asp-action="Upload">
    <input asp-for="FileType" type="hidden"/>
    
    @switch (Model.FileType)
    {
        case FileLoadType.Unknown:
            <label>Неизвестная загрузка)))</label>
            break;
        case FileLoadType.Users:
            <label>Загрузка пользователей</label>
            break;
        case FileLoadType.UserTeam:
            <label>Загрузка команд</label>
            break;
        case FileLoadType.Categories:
            <label>Загрузка категорий оценок</label>
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
    
    <label> Код защиты от нехороших лиц:</label>
    <input type="text"  asp-for="ProtectionString"/>

    <label asp-for="File">Файл</label>
    <input asp-for="File" style="border: none; padding-left: 0;" />
    @*<span asp-validation-for="File"></span>*@

    <div asp-validation-summary="All"></div>

    <button type="submit">
        Отправить
    </button>

</form>
