@model ScoreService.ViewModel.LoginModel

<div class="login-view__container">
    <div class="login-view">
        <div class="login-view__logo">
            <img src="~/assets/svg/logo.svg">
        </div>
        <form  asp-action="Login" asp-controller="Auth" asp-anti-forgery="true" class="login-view__form">
            <div class="login-view__user-name--label">Логин</div>
            <div class="login-view__user-name--field">
                <input type="text" asp-for="Login" placeholder="username" />
            </div>
            <div class="login-view__pass--label">Пароль</div>
            <div class="login-view__pass--field">
                <input type="password" asp-for="Password" placeholder="password"/>
            </div>
            <input type="submit" class="login-view__button" value="Войти">
        </form>
    </div>
</div>
