@model ScoreService.ViewModel.CollectionTeamModel

@{
    ViewData["Title"] = "Home Page";
}



<div class="team-list-view__container">
    <div class="team-list-view">
        <div class="team-list-view__title">Выберите команду для оценки</div>
        <div class="team-list-items__container">
            @foreach (var team in Model.Teams)
            {
                <div class="team-list-item-view">
                    <div class="team-list-item-view__title">@(team.Name+"("+team.Address+")")</div>
                    <div class="team-list-item-view__button" onclick='window.location = "@Url.Action("Score", "Team", team)";' >Оценить</div>
                </div>
            }
        </div>
    </div>
</div>